/* common uses styles */
body {
    font-family: Lato;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 25px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 180px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* header section */
header {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 0 240px;
    gap: 100px;
    justify-content: space-between;
}

header img {
    width: 635px;
    height: 800px;
    padding: 50px 0px 0px 0px;
}

.banner {
    padding-top: 200px;
    padding-bottom: 170px;
    align-items: center;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}