/* common uses styles */
body {
    font-family: Lato;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 25px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 180px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* header section */
header {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 0 240px;
    gap: 100px;
    justify-content: space-between;
}

header img {
    width: 635px;
    height: 800px;
    padding: 50px 0px 0px 0px;
}

.banner {
    padding-top: 200px;
    padding-bottom: 170px;
    align-items: center;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}


/* main section */

/* feature section */
.Feature-section {
    text-align: center;
}

.feature-container {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.feature {
    display: block;
}

.feature-image {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    padding: 110px 80px 0px 80px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 35px;
}

#feature-img-1 {
    background: rgba(167, 33, 98, 0.15);
}

#feature-img-2 {
    background: rgba(5, 151, 160, 0.15);
}

#feature-img-3 {
    background: rgba(71, 125, 17, 0.15);
}

.feature-link {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

/* Sign Up Section */

.sign-up-section {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 130px 0px;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 100px 240px;
    gap: 100px;
    text-align: center;
    /* justify-content: space-between; */

}

#off {
    color: #E55473;
}

/* instagram section */

.instagram-feature {
    display: flex;
    gap: 25px;
    margin: 50px 240px;
    justify-content: center;
}